header.perfil_header{
	height: auto;
	background: #ff5d00;
	background: #333333;
	position: static;
}
footer.footer_perfil{
	padding: 10px 0;
}
.perfil_sidebar{
	width: 250px;
	float: left;
	box-sizing: border-box;
	padding: 30px 30px 30px 0;
	border-right: 1px solid #eee;
}
.perfil_sidebar .perfil_image_wrapper{
	width: 100%;
	margin-bottom: 30px;
}
.perfil_sidebar .perfil_image_wrapper img{
	width: 100px;
	height: 100px;
	border-radius: 100%;
	border: 1px solid #ccc;
	margin: 0 auto;
	display: block;
}
.perfil_sidebar nav a{
	font-size: 14px;
	color: #555;
	display: block;
	padding: 2px 0;
	margin: 5px 0;
	padding-left: 30px;
	text-decoration: none;
}
.perfil_sidebar nav a:hover{
	color: #ff5d00;
}
.perfil_sidebar nav a.resolver_questionario{
	background: url('../img/resolver_questionario.png') left center no-repeat;
}
.perfil_sidebar nav a.minha_conta{
	background: url('../img/minha_conta.png') left center no-repeat;
}
.perfil_sidebar nav a.alterar_senha{
	background: url('../img/alterar_senha.png') left center no-repeat;
}
.perfil_sidebar nav a.resolver_questionario:hover{
	background-image: url('../img/resolver_questionario_orange.png');
}
.perfil_sidebar nav a.minha_conta:hover{
	background-image: url('../img/minha_conta_orange.png');
}
.perfil_sidebar nav a.alterar_senha:hover{
	background-image: url('../img/alterar_senha_orange.png');
}
.perfil_sidebar nav hr{
	border: 0;
	border-bottom: 1px solid #f1f1f1;
	margin: 10px 0;
}
.perfil_sidebar .user_name{
	font-weight: 700;
	text-align: center;
}

.content_perfil{
	width: 750px;
	float: left;
	margin-left: -1px;
	border-left: 1px solid #eee;
	box-sizing: border-box;
	/*padding: 30px 0 30px 30px;*/
}

.perfil_dark_title{
	color: #555;
	margin: 0 0 40px 0;
	font-size: 36px;
}

.minha_conta_form{
	margin: 40px 0;
}
.minha_conta_form label{
	display: inline-block;
	width: 180px;
	color: #555;
}
.minha_conta_form .input{
	margin: 15px 0;
}
.minha_conta_form input[type=text],
.minha_conta_form input[type=email],
.minha_conta_form input[type=password],
textarea,
select{
	width: 320px;
}
.minha_conta_form input[type=submit]{
	background: #ff5d00;
	border: 0;
	padding: 15px 30px;
	font-weight: 700;
	font-size: 18px;
	color: #fff;
	border-radius: 3px;
	outline: none;
	margin: 10px 0 10px 180px;
	cursor: pointer;
}
textarea{
	height: 200px;
}
.textarea label{
	vertical-align: top;
}

.personalidade{
	width: 100%;
	padding: 30px 0 30px 30px;
}
.personalidade h1{
	margin: 0 0 10px;
	font-size: 30px;
	letter-spacing: -1px;
	color: #555;
}
.personalidade h1 span{
	font-weight: 300;
}
.personalidade h1 strong{
	color: #ff5d00;
}
.personalidade a{
	color: #ff5d00;
}
.personalidade_texto{
	transition: all 0.5s ease;
}
.personalidade_texto.hidden_text{
	opacity: 0;
	height: 0;
	visibility: hidden;
	overflow: hidden;
}
.personalidade_texto.shown_text{
	visibility: visible;
	opacity: 1;
	height: auto;
}

.show_people_personality{
	padding: 30px 0 30px 30px;
	border-top: 1px solid #f1f1f1;
}
.show_people_personality h1{
	margin: 0;
	font-size: 22px;
	color: #555;
	letter-spacing: -1px;
	margin-bottom: 20px;
}

.people_list{
	list-style: none;
	margin: 0;
	padding: 0;
}
.people_list li{
	padding: 10px 0;
	border-bottom: 1px solid #f1f1f1;
}
.people_list li img{
	width: 80px;
	height: 80px;
	border: 1px solid #eee;
	border-radius: 100%;
	float: left;
	margin: 0 20px;
}
.people_list li .person_info_container{
	float: right;
	width: 590px;
}
.people_list li .person_info_container span{
	display: block;
	margin-bottom: 3px;
}
.people_list li .person_info_container span.name{
	font-size: 18px;
	font-weight: 700;
}
.people_list li .person_info_container span.email a{
	color: #555;
}

.padding_box{
	padding: 30px 0 30px 30px;
}

.alterar_perfil{
	position: relative;
	width: 102px;
	height: 102px;
	border-radius: 100%;
	overflow: hidden;
	display: block;
	margin: 0 auto;
}
.alterar_perfil span{
	position: absolute;
	width: 100%;
	height: 100%;
	display: block;
	background: #104070;
	color: #fff;
	font-weight: 700;
	font-size: 14px;
	text-align: center;
	box-sizing: border-box;
	padding: 30px 0;
	opacity: 0;
	border-radius: 100%;
	transition: opacity 0.3s ease;
}
.alterar_perfil:hover span{
	opacity: 0.7;
}

.imagem_wrapper{
	width: 185px;
	height: 185px;
	overflow: hidden;
	border: 1px solid #cccccc;
	border-radius: 100%;
	margin: 30px auto;
}
.imagem_wrapper img{
	width: 185px;
	height: 185px;
	display: block;
}

.upload_imagem{
	text-align: center;
}
.upload_imagem input[type=submit]{
	background: #ff5d00;
	border: 0;
	padding: 15px 30px;
	font-weight: 700;
	font-size: 18px;
	color: #fff;
	border-radius: 3px;
	outline: none;
	margin: 10px 0;
	cursor: pointer;
}


.redes a{
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 20px;
	vertical-align: middle;
}
.redes a.facebook{
	background: url('../img/facebook.png') center no-repeat;
}
.redes a.twitter{
	background: url('../img/twitter.png') center no-repeat;
}
.redes a.web_site{
	background: url('../img/web_site.png') center no-repeat;
}